@font-face {
    font-family: poppins-regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);

}

@font-face {
    font-family: poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);

}

@font-face {
    font-family: poppins-italic;
    src: url(./assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: extrabolditalic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

:root {
    --purple: hsl(259, 100%, 65%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    font-family: poppins-bold;
}

.container {
    background-color: rgb(218, 218, 218);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    /* padding: 50px 0px; */
}

.box {
    border-radius: 10px 10px 300px 10px;
    width: 650px;
    background-color: white;
    height: 500px;
    padding: 30px 60px;
}

.input label {
    display: flex;
    font-family: 'poppins-regular';
    margin-bottom: 10px;
    font-size: 0.3;
}

.input-flex {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    height: 150px;
    border-bottom: 3px solid var(--purple);
    position: relative;
}



.btn {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--purple);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 94px;
    left: 470px;
}

h1 {
    color: hsl(0, 0%, 8%);
    font-size: 4rem;
}

.outputs>* {
    display: inline-block;
    font-size: 4rem;
    font-family: extrabolditalic;
}

.outputs {
    font-family: poppins-bold;
    font-weight: bold;
    color: var(--purple);
}

input {
    width: 120px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
}



input:focus {
    border: 3px solid var(--purple);
}

.error,
.error-day,
.error-year {
    font-size: 0.8rem;
    margin: 5px 0;
    color: red;
}

.input-error:focus {
    border: 1px solid red;
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    .box {
        width: 400px;

    }

    h1 {
        font-size: 2rem;
    }

    .btn {
        left: 100px;
        top: 120px;
        width: 60px;
        height: 60px;
    }

    svg {
        width: 30px;
    }

    .input-flex {
        gap: 30px;
    }

    input {
        width: 80px;
    }

}